<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048207620395-i70mnffo1q8n7k1nsrt3v2l2k4og31c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048207620395-i70mnffo1q8n7k1nsrt3v2l2k4og31c3</string>
	<key>API_KEY</key>
	<string>AIzaSyDz6celcVBax1CPf5T1GkvmA266_soUUD0</string>
	<key>GCM_SENDER_ID</key>
	<string>1048207620395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ER-Corporation.ER-Corporation1</string>
	<key>PROJECT_ID</key>
	<string>er-corporation</string>
	<key>STORAGE_BUCKET</key>
	<string>er-corporation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048207620395:ios:f82962d2bd0ad278caad6e</string>
</dict>
</plist>